/* HTML elements  */
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
	line-height: 1.1em;
	color: #000000;
	-moz-border-radius: 20px 0 20px 0;
	-webkit-border-radius: 20px 0 20px 0;
	border-radius: 20px 0 20px 0;
}

h1 {
	font-size: 2em;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.75em;
	margin-bottom: .5142em;
	padding-top: .2em;
}

h3 {
	font-size: 1.5em;
	margin-bottom: .7em;
	padding-top: .3em;
}

h4 {
	font-size: 1.25em;
	margin-bottom: .6em;
}

h5,h6 {
	font-size: 1em;
	margin-bottom: .5em;
	font-weight: bold;
}

h9
{
  font-size: 18px;
  color: #629be0;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-left: 100px;
  text-shadow: #4475b0;
}

p,blockquote,ul,ol,dl,form,table,pre {
	line-height: inherit;
	margin: 0 0 1.5em 0;
}

ul,ol,dl {
	padding: 0;
}

ul ul,ul ol,ol ol,ol ul,dd {
	margin: 0;
}

li {
	margin: 0 0 0 2em;
	padding: 0;
	display: list-item;
	list-style-position: outside;
}

blockquote,dd {
	padding: 0 0 0 2em;
}

pre,code,samp,kbd,var {
	font: 100% mono-space, monospace;
}

pre {
	overflow: auto;
}

abbr,acronym {
	text-transform: uppercase;
	border-bottom: 1px dotted #000000;
	letter-spacing: 1px;
}

abbr[title],acronym[title] {
	cursor: help;
}

small {
	font-size: .9em;
}

sup,sub {
	font-size: .8em;
}

.em,cite,q {
	font-style: italic;
}

img {
	border: none;
}

hr {
	display: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,caption {
	text-align: left;
}

form div {
	margin: .5em 0;
	clear: both;
}

label {
	display: block;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	font-weight: bold;
}

input[type="radio"],input[type="checkbox"],.radio,.checkbox {
	margin: 0 .25em 0 0;
}

/* //  HTML elements */

/* base */
body,table,input,textarea,select,li,button {
	font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.5em;
	color: #444444;
}

input {
	border: 0;
	padding: 0px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 11px;
	width: 10px;
}

html { 
	height: 100%
}

#body,body,.body {
	text-align: center;
	font-size: 12px;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	background-color: #ffffff;
	min-height:100%;margin:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

/* // base */

/* login form */
#login {
	margin: 5em auto;
	background: #ffffff;
	border: 8px solid #eeeeee;
	width: 500px;
	-moz-border-radius: 30px 0 30px 0;
	-webkit-border-radius: 30px 0 30px 0;
	border-radius: 30px 0 30px 0;
	-moz-box-shadow: 0 0 10px #4e707c;
	-webkit-box-shadow: 0 0 10px #4e707c;
	box-shadow: 0 0 10px #4e707c;
	text-align: left;
	position: relative;
}

#login a,#login a:visited {
	color: #0283b2;
}

#login a:hover {
	color: #111111;
}

#login h1 {
	/*background: #0092c8;*/
	color: #ffffff;
	text-shadow: #007dab 0 1px 0;
	font-size: 14px;
	padding: 2px 0 20px 10px;
	
	height: 50px;
	/*background-color: #5c9ccc;
	background-image: url("/novared/javax.faces.resource/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png.jsf?ln=primefaces-redmond");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;*/
	color: #ffffff;
	font-weight: bold;
}

#login h7  {
	background: #ffffff;
	color: #000000;
	text-align: center;
	position: relative;
	font-size: .5em;
	margin-bottom: .3em;
	font-weight:lighter;
}

#login .register {
	position: absolute;
	float: left;
	margin: 0;
	line-height: 30px;
	top: -40px;
	right: 0;
	font-size: 11px;
}

#login p {
	margin: .5em 25px;
}

#login div {
	margin: .5em 25px;
	background: #eeeeee;
	padding: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: right;
	position: relative;
}

#login label {
	float: left;
	line-height: 30px;
	padding-left: 10px;
}

#login .field {
	border: 1px solid #cccccc;
	width: 280px;
	font-size: 12px;
	line-height: 1em;
	padding: 4px;
	-moz-box-shadow: inset 0 0 5px #cccccc;
	-webkit-box-shadow: inset 0 0 5px #cccccc;
	box-shadow: inset 0 0 5px #cccccc;
}

#login div.submit {
	background: none;
	margin: 1em 25px;
	padding: 10px 10px;
	text-align: left;
}

#login div.cert {
	background: none;
	margin: 0 0 0 0;
	padding: 0px;
	float: right;
	height: 40px;
	text-align: right;
}

#login div.submit label {
	float: none;
	display: inline;
	font-size: 11px;
}

#login div.cert label {
	float: none;
	display: inline;
	font-size: 11px;
}

#login button {
	border: 1px;
	border-style: solid;
	border-color: #c5dbec;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	background-color: #dfeffc;
	background-image:
		url("/novared/javax.faces.resource/images/ui-bg_glass_85_dfeffc_1x400.png.jsf?ln=primefaces-redmond");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-origin: padding-box;
	background-size: auto auto;
	font-weight: bold;
	padding: 0 30px;
	margin: -10px 0 0 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 1.1em;
	color: #2e6e9e;
	text-shadow: #007dab 0 1px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#login button:hover {
	border: 1px;
	border-style: solid;
	border-color: #79b7e7;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	background-color: #d0e5f5;
	background-image:
		url("/novared/javax.faces.resource/images/ui-bg_glass_75_d0e5f5_1x400.png.jsf?ln=primefaces-redmond");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-origin: padding-box;
	background-size: auto auto;
	font-weight: bold;
	padding: 0 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 1.1em;
	color: #1d5987;
	text-shadow: #007dab 0 1px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#login .forgot {
	text-align: right;
	font-size: 11px;
}

#login .back {
	padding: 1em 0;
	border-top: 1px solid #eeeeee;
	text-align: right;
	font-size: 11px;
}

#login .error {
	float: left;
	position: absolute;
	left: 95%;
	top: -5px;
	background: #890000;
	padding: 5px 10px;
	font-size: 11px;
	color: #ffffff;
	text-shadow: #500500 0 1px 0;
	text-align: left;
	white-space: nowrap;
	border: 1px solid #500500;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px #700700;
	-webkit-box-shadow: 0 0 5px #700700;
	box-shadow: 0 0 5px #700700;
}

#badlogin {
	position: absolute;
	width: 95%;
	margin-left: 2%;
	background: #890000;
	font-size: 11px;
	color: #ffffff;
	text-shadow: #500500 0 1px 0;
	text-align: center;
	white-space: nowrap;
	/*border:1px solid #500;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px #700700;
	-webkit-box-shadow: 0 0 5px #707000;
	box-shadow: 0 0 5px #700700;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
/* //  login form */